[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/conqueterm"]
	path = vim/bundle/conqueterm
	url = https://github.com/rygwdn/vim-conque.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vim/bundle/vimclojure"]
	path = vim/bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/vimorganizer"]
	path = vim/bundle/vimorganizer
	url = https://github.com/hsitz/VimOrganizer.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/jsbeautify"]
	path = vim/bundle/jsbeautify
	url = https://github.com/vim-scripts/jsbeautify.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule "vim/bundle/cocoa"]
	path = vim/bundle/cocoa
	url = https://github.com/uxp/cocoa.vim.git
[submodule "vim/bundle/rvm"]
	path = vim/bundle/rvm
	url = https://github.com/jcf/rvm_ruby.vim.git
[submodule "vim/bundle/scratch"]
	path = vim/bundle/scratch
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "vim/bundle/fs"]
	path = vim/bundle/fs
	url = https://github.com/killerswan/fs.vim.git
[submodule "vim/bundle/zazen"]
	path = vim/bundle/zazen
	url = git://github.com/zaki/zazen.git
[submodule "vim/snippets"]
	path = vim/snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = https://github.com/vim-scripts/textobj-user.git
[submodule "vim/bundle/textobj-rubyblock"]
	path = vim/bundle/textobj-rubyblock
	url = https://github.com/vim-scripts/textobj-rubyblock.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/gregsexton/gitv
[submodule "vim/bundle/vim-slime"]
	path = vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git

[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
